
/* FULL BOOTSTRAP SUPPORT ~147K */
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


/*MEDIA QUERIES*/



/*Variables*/

html{
	/*overflow: hidden;*/
	height: 100%;
}

body{
	height: 100%;
	overflow: auto;
}

.container-home{
	padding: 0;
	position: relative;

.video-container{
	position: relative;



	#vid{
		postiion: relative;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -100;
	}
	.logo-container{
		position: absolute;
		width: 30%;
		max-width: 300px;
		bottom: 35px;
		right: 50px;
		z-index: 100;
	
	}
	.tag-container{
		position: absolute;
		top: 50px;
		width: 100%;
		margin: 0 auto;
		padding: 0 40px 0 50px;
	}
	.arrow-container{
		position: absolute;
		bottom: 25px;
		width: 15%;
		left: 50%;
		z-index: 100;
		color: white;
		font-size: 1.5em;
		max-width: 50px;
		a{
			color: white;
		}
	}
	.play-container{
		display: none;
		position: absolute;
	
	}
}
	.content-container{
		width: 80%;
		margin: 0 auto;

		
		.maincontent{
			margin-top: 50px;
			.paragraph{
				padding-right: 20px;
				svg{
					width: 100%;
				}
				h1{
					color:#f8a01b;
					font-family: "Gotham Cond SSm A", "Gotham Cond SSm B";
					font-style: normal;
					font-weight: 600;
					margin-top: 0;
					margin-bottom: 20px;
					line-height: 100%;
					font-size: 4em;
				}
				p{
					font-family: "Gotham A", "Gotham B";
					font-style: normal;
					font-weight: 400;
					margin-bottom: 50px;
					font-size: 1.2em;
				}
			}
			.qna-container{
				width: 70%;
				margin-bottom: 30px;
			}
		}
	}
	.form-container{
		background-color:#b02a4d;
		margin-top: 50px;
		padding-top: 30px;
		padding-bottom: 50px;
		color: white;
		position: relative;
		

		h2{
			color: white;
			font-family: "Gotham Cond SSm A", "Gotham Cond SSm B";
			font-size: 3.5em;
			font-style: normal;
			font-weight: 600;
			text-align: left;
			margin-bottom: 10px;
		}

		p{
			margin-bottom: 40px;
		}
		form{
			width: 300px;
			margin: 0 auto;
			font-family: "Gotham A", "Gotham B";
			font-style: normal;
			font-weight: 400;
			
			input{
				margin: 5px 0 5px 0;
				border: 2px solid white;
				background-color:#b02a4d;
				color: white;
				padding: 7px;
				outline: none;
				&:focus{
					border: 2px solid #2a2d2e;
				}
			}
			input[type=text]{
				width: 300px;
				
			}
			input[type=submit]{
				margin-top: 10px;
				cursor: pointer;
			}
			input[placeholder]::-webkit-input-placeholder{
				color: white;
			}
			input[placeholder]:focus::-webkit-input-placeholder{
				color: transparent;
			}
			.textbox{
				padding-bottom: 100px;
			}

		}
		.form-success{
			font-family: "Gotham A", "Gotham B";
			font-style: normal;
			font-weight: 400;
			font-size: 1em;
			position: absolute;
			margin-top: -33px;
			margin-left: 100px;
			display: none;
			
			
			p{
				display: inline;

			}
		}
	}

}

@media all and (min-width: 500px){
	.container-home{
		.form-container{
			form{
				width: 400px;
				input[type=text]{
					width: 400px;
				}
			}
		}
	}
}

@media all and (min-width: 768px){
	.container-home{
		.video-container{
		.arrow-container{
			font-size: 1.5em;
		}
		.play-container{
			display: block;
			position: absolute;
			top: 50%;
			left: 44%;
			z-index: 100;
			color: white;
			font-size: 1.2em;
			width: 100px;
			cursor: pointer;
		}
	}
		.content-container{
			.maincontent{
				margin-top: 100px;
				.paragraph{
					padding-right: 100px;
				}
				.qna-container{
					margin-top: 75px;
				}
			}
		}
		.form-container{
			form{
				width: 500px;
				input[type=text]{
					width: 500px;
				}
			}
		
		}
	
}
}

@media all and (min-width: 1024px){
	.container-home{
		.video-container{
		.arrow-container{
			font-size: 1.8em;
		}
		.play-container{
			left: 47%;
		
		}
	}
		
		.content-container{
			.maincontent{
				margin-top: 100px;
				.paragraph{
					padding-right: 200px;
				}
				.qna-container{
					margin-top: 100px;
				}
			}
		}
		.form-container{
			margin-top: 100px;
		}
	}
}




/* PARTIAL BOOTSTRAP SUPPORT ~34K */
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";*/
